table, th, tr, td {
    border: 2px solid lightgrey;
    border-collapse: collapse;
}

input {
    background-color: rgb(215, 243, 246);
}

#toelichting {
    min-height: 60px;
    background-color: rgb(248, 245, 239);
    border: 2px solid grey;
    margin-left: 5px;
    margin-bottom: 10px;
}

#content {
    min-height: 100px;
    background-color: rgb(248, 245, 239);
    border: 2px solid grey;
    margin-left: 5px;
}

.label {
    background-color: rgb(248, 245, 239);
    border: 3px solid rgb(79, 80, 82);
    font-weight: bold;
}

button {
    font-size: large;
}

#readmeIframe {
    height: 25px;
}

#readmeIframe:hover {
    font-size: large;
    height: auto;
    width: 90%;
}